In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import linear_model

data = pd.read_csv("OZONE/Ozone-Monitoring/combined1.csv")

In [27]:
data.describe()

               YEAR           MON           DAY            HR       O3(PPB)
count  40076.000000  40076.000000  40076.000000  40076.000000  40076.000000
mean    2016.867003      6.147919     15.744261     11.502321    528.222533
std        1.384444      3.303720      8.797260      6.922508   2181.103774
min     2015.000000      1.000000      1.000000      0.000000      4.480000
25%     2016.000000      3.000000      8.000000      6.000000     20.380000
50%     2017.000000      6.000000     16.000000     12.000000     27.475000
75%     2018.000000      9.000000     23.000000     18.000000     33.310000
max     2019.000000     12.000000     31.000000     23.000000   9999.990000

In [28]:
data[['STN']]['STN'].unique()

array(['ARH', '324', 'arh'], dtype=object)

In [33]:
df = data.drop(['STN'] , axis =1)
X = df.drop(['O3(PPB)'],axis = 1)
y = df.drop(['YEAR' , 'MON' , 'DAY', 'HR'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 47)

In [34]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28053 entries, 17251 to 38023
Data columns (total 4 columns):
YEAR    28053 non-null int64
MON     28053 non-null int64
DAY     28053 non-null int64
HR      28053 non-null int64
dtypes: int64(4)
memory usage: 1.1 MB

In [35]:
#LINEAR REGRESSION
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)

print('Score', lm.score(X_test, y_test))

Score 0.035856132718034894

In [36]:

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test,lm.predict(X_test)))

4662337.434058767